[Unit]
Description=Interlock Backend Service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/lib/interlock/interlock_backend
Type=simple
Restart=always
RestartSec=2
# ---------------------------------------------------------------------------- #
# ! Uncomment line below to execute as a specific user
User=root
# ---------------------------------------------------------------------------- #
# ! Uncomment line below to run Back-end server with SSL (Force HTTPS)
ExecStart=/var/lib/interlock/interlock_backend/venv/bin/python ./manage.py runsslserver --certificate /var/lib/interlock/sslcerts/fullchain.pem --key /var/lib/interlock/sslcerts/privkey.pem
# ---------------------------------------------------------------------------- #
# ! Uncomment line below to run Back-end server without SSL (HTTP)
#ExecStart=/var/lib/interlock/interlock_backend/venv/bin/python ./manage.py runserver

[Install]
WantedBy=multi-user.target